
main{
    min-height: 80%;
    flex:1;
}

body {
    /* display: flex; */
    display: block;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

/* Your existing styles for main, h1, gameBoard, game-description, etc. */

/* Add media query for better responsiveness */
@media (max-width: 768px) {
    body {
        display: block;
    }
}

h1{
    text-align: center;
    color:#c87f67;
}

.gameBoard{
   
    height: 400px;
    width:400px;
    padding: 90px;
    box-sizing: border-box; /*padding and borders will not increase the size*/
    text-align: center;
    margin:auto;
    margin-top:50px;
    margin-bottom: 120px;
    border: 0.5px solid rgb(120, 151, 189);
    border-radius: 15px;
    background-color: rgba(123, 191, 250, 0.25);
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.25);
    transition-duration: 500ms;   /*takes 500ms for transition */
    
}

.gameBoard p{
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}

.gameBoard:hover {
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.25);
}

#userInput{
    background-color: darkgray;
    margin: 20px;
    padding: 5px;
    border : 2px solid gray;
    border-radius: 10px;
}

#addNumber {
    background-color: rgb(162, 243, 162);
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border: 2.5px solid black;
    border-radius: 15px;
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.25);
    transition-duration: 500ms;
}

#addNumber:hover {
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.25);
}

#outputContainer{
    margin: auto;
    text-align: center;
    font-size: 30px;;
}

#startOver{
    margin-top: 20px;
}


.game-description {
    text-align: center;
    ;  /* Adjusted for better spacing */
    font-family: Verdana, Geneva, Tahoma, sans-serif; /* Consistent font family */
    color: black; /* Consistent color */
    padding:20px;
}

.game-description p:first-child {
    font-weight: bold;
    margin-bottom: 15px; /* Adjusted for better spacing */
    font-size: 24px; /* Larger font size for the title */
}

.game-description p:last-child {
    font-size: 18px; /* Adjusted font size for the description */
}

