html, body {
    
    font-family: Arial, sans-serif;
    background-color: darkgray;
    height:100%;
    width: 100%;
    margin:0;
    padding:0;
   

}

header {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    background: radial-gradient(circle,rgb(61, 69, 78),  rgb(84, 90, 96)); /*gives gradient effect to the background*/
    padding: 10px;
    border-radius: 10px;
    
}

header a {
    text-decoration: none;
    color:white;
}


.logo {
   
    width:200px;
    
    border-radius: 300px;
}

nav {
    text-align: center;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    margin-right:15px;
     
}

.nav-item {

    margin-right: 20px;
    position:relative;
}

.nav-item :hover{
    color: #FF5721; 
}



.selected {
    background-color: #c87f67; 
    border-radius: 5px;
}

#game-dropdown-content{
    display:none;
    position: absolute;
    background-color: gray;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    top: 18px;
    padding:13px;
    border-radius: 10px;
    z-index: 1;  /* make sure drop down content is always on top*/
    text-align: center;
}

li:hover #game-dropdown-content {
    display: block;
    
    
}

#headButton{

    display:none;
    background-color: gray ; 
    color: white;
    top: 18px;
    padding:13px;
    border-radius: 10%;
    border: none;
    z-index: 1; 
    text-align: center;
    cursor: pointer;
 
    
    
}





#backButton {
    
    border: none;
    font-size: 30px;
    background-color: #c87f67; 
    color: gray;
    cursor: pointer;
    border-radius: 5px;
    margin-top:50px;
    margin-left:100px;
    margin-bottom: 30px;
  
   
   
}

#backButton :hover{
    background-color:  #c87f67;
}

.gameDisplay{
    
    width:70%;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    min-height:80%;
    margin:auto;
}

.gameDisplay p{

    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    min-width: 400px;
    
    
    
}

article {
    
    display: flex;
    flex-direction: column; 
    justify-content: center;
    text-align: center;
    align-items: center; 
    max-width: 350px;
    max-height: 250px;
    margin:5px;
    border: 3px solid black;
    border-radius: 20px;
    transition: transform 0.2s, filter 0.2s; /* making the change on hover smooth */
}

article:hover {
    transform: scale(1.06); /* move up the article slightly on hover */
    filter: brightness(1.5); /* Brighten the article on hover */
}


article img {
    max-width: 50%; 
    height: auto;  
    border-radius: 50%;
    padding:20px;
    margin: auto;
    
}




        




footer {

    background: radial-gradient(circle,rgb(61, 69, 78),  rgb(84, 90, 96));
    color:#FF5721;
    padding: 10px 0;
    text-align: center;
    margin-top:10px;
    border-radius: 10px;
    

  
}


@media screen and (max-width: 768px) {

   .search-bar{
    display:none;

   }
   header{
    height:70px;
    position: relative;

   }

   nav{
        display:none;
        position: relative;
        top: 75px;
        left:10px;
        border-radius: 10px;
        background-color:gray;
       
      
    }

   #headButton{
        display: block;
        position: absolute; /* Change this line to position: absolute; */
        top: 10px; /* Adjust the top value to your preference */
        right: 10px; 
        border-radius: 10%;
        margin-right: 10px;
        margin: 10px;
        padding: 10px;
        background-color: gray; /* Set a background color for better visibility */
        color: white;
        cursor: pointer;
     

    
    
    }

   

   

    #game-dropdown-content{
        display:none;
        position: absolute;
        background-color: gray;
        min-width: 100px;
        right:5px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        padding:13px;
        border-radius: 10px;
        z-index: 1;  
        text-align: center;
    }





    .gameDisplay {
        flex-direction: column;
        align-items: center;
        display:block;
        
    }


}



