main{
    min-height: 80%;
    flex:1;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

/* Your existing styles for main, h1, gameBoard, game-description, etc. */

/* Add media query for better responsiveness */
@media (max-width: 768px) {
    body {
        display: block;
    }
}

.gameDisplay{

    margin:100px auto;
    padding: 90px;
    border: 3px solid black;
    border-radius: 20px;
    justify-content: center;
    align-items: center;   
    box-sizing: border-box; 
    text-align: center;
    height: 400px;
    width:400px;
    transition: transform 0.2s, filter 0.2s; /* making the change on hover smooth */
    margin-bottom:200px;
}

.gameDisplay p{

    margin:auto;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
 }

.gameDisplay:hover {

    transform: scale(1.06); /* move up the article slightly on hover */
    filter: brightness(1.5); /* Brighten the article on hover */
}

